# UE file types
*.uasset -text
*.umap -text

# Raw Content types
*.fbx -text
*.3ds -text
*.psd -text
*.png -text
*.mp3 -text
*.wav -text
*.xcf -text
*.jpg -text

# Config / Data
*.json text eol=lf
Plugins/World/*/Data/Canonical/**/*.zip -text

# Scripts & Hooks
*.sh text eol=lf
scripts/** text eol=lf
